set_io Tile_X0Y1_A X0Y1.A
set_io Tile_X0Y1_B X0Y1.B
set_io Tile_X9Y1_A X9Y1.A
set_io Tile_X9Y1_B X9Y1.B
set_io Tile_X9Y1_C X9Y1.C
set_io Tile_X9Y1_D X9Y1.D
set_io Tile_X9Y1_E X9Y1.E
set_io Tile_X9Y1_F X9Y1.F
set_io Tile_X9Y1_G X9Y1.G
set_io Tile_X9Y1_H X9Y1.H
set_io Tile_X9Y1_I X9Y1.I
set_io Tile_X9Y1_J X9Y1.J
set_io Tile_X9Y1_K X9Y1.K
set_io Tile_X0Y2_A X0Y2.A
set_io Tile_X0Y2_B X0Y2.B
set_io Tile_X9Y2_A X9Y2.A
set_io Tile_X9Y2_B X9Y2.B
set_io Tile_X9Y2_C X9Y2.C
set_io Tile_X9Y2_D X9Y2.D
set_io Tile_X9Y2_E X9Y2.E
set_io Tile_X9Y2_F X9Y2.F
set_io Tile_X9Y2_G X9Y2.G
set_io Tile_X9Y2_H X9Y2.H
set_io Tile_X9Y2_I X9Y2.I
set_io Tile_X9Y2_J X9Y2.J
set_io Tile_X9Y2_K X9Y2.K
set_io Tile_X0Y3_A X0Y3.A
set_io Tile_X0Y3_B X0Y3.B
set_io Tile_X9Y3_A X9Y3.A
set_io Tile_X9Y3_B X9Y3.B
set_io Tile_X9Y3_C X9Y3.C
set_io Tile_X9Y3_D X9Y3.D
set_io Tile_X9Y3_E X9Y3.E
set_io Tile_X9Y3_F X9Y3.F
set_io Tile_X9Y3_G X9Y3.G
set_io Tile_X9Y3_H X9Y3.H
set_io Tile_X9Y3_I X9Y3.I
set_io Tile_X9Y3_J X9Y3.J
set_io Tile_X9Y3_K X9Y3.K
set_io Tile_X0Y4_A X0Y4.A
set_io Tile_X0Y4_B X0Y4.B
set_io Tile_X9Y4_A X9Y4.A
set_io Tile_X9Y4_B X9Y4.B
set_io Tile_X9Y4_C X9Y4.C
set_io Tile_X9Y4_D X9Y4.D
set_io Tile_X9Y4_E X9Y4.E
set_io Tile_X9Y4_F X9Y4.F
set_io Tile_X9Y4_G X9Y4.G
set_io Tile_X9Y4_H X9Y4.H
set_io Tile_X9Y4_I X9Y4.I
set_io Tile_X9Y4_J X9Y4.J
set_io Tile_X9Y4_K X9Y4.K
set_io Tile_X0Y5_A X0Y5.A
set_io Tile_X0Y5_B X0Y5.B
set_io Tile_X9Y5_A X9Y5.A
set_io Tile_X9Y5_B X9Y5.B
set_io Tile_X9Y5_C X9Y5.C
set_io Tile_X9Y5_D X9Y5.D
set_io Tile_X9Y5_E X9Y5.E
set_io Tile_X9Y5_F X9Y5.F
set_io Tile_X9Y5_G X9Y5.G
set_io Tile_X9Y5_H X9Y5.H
set_io Tile_X9Y5_I X9Y5.I
set_io Tile_X9Y5_J X9Y5.J
set_io Tile_X9Y5_K X9Y5.K
set_io Tile_X0Y6_A X0Y6.A
set_io Tile_X0Y6_B X0Y6.B
set_io Tile_X9Y6_A X9Y6.A
set_io Tile_X9Y6_B X9Y6.B
set_io Tile_X9Y6_C X9Y6.C
set_io Tile_X9Y6_D X9Y6.D
set_io Tile_X9Y6_E X9Y6.E
set_io Tile_X9Y6_F X9Y6.F
set_io Tile_X9Y6_G X9Y6.G
set_io Tile_X9Y6_H X9Y6.H
set_io Tile_X9Y6_I X9Y6.I
set_io Tile_X9Y6_J X9Y6.J
set_io Tile_X9Y6_K X9Y6.K
set_io Tile_X0Y7_A X0Y7.A
set_io Tile_X0Y7_B X0Y7.B
set_io Tile_X9Y7_A X9Y7.A
set_io Tile_X9Y7_B X9Y7.B
set_io Tile_X9Y7_C X9Y7.C
set_io Tile_X9Y7_D X9Y7.D
set_io Tile_X9Y7_E X9Y7.E
set_io Tile_X9Y7_F X9Y7.F
set_io Tile_X9Y7_G X9Y7.G
set_io Tile_X9Y7_H X9Y7.H
set_io Tile_X9Y7_I X9Y7.I
set_io Tile_X9Y7_J X9Y7.J
set_io Tile_X9Y7_K X9Y7.K
set_io Tile_X0Y8_A X0Y8.A
set_io Tile_X0Y8_B X0Y8.B
set_io Tile_X9Y8_A X9Y8.A
set_io Tile_X9Y8_B X9Y8.B
set_io Tile_X9Y8_C X9Y8.C
set_io Tile_X9Y8_D X9Y8.D
set_io Tile_X9Y8_E X9Y8.E
set_io Tile_X9Y8_F X9Y8.F
set_io Tile_X9Y8_G X9Y8.G
set_io Tile_X9Y8_H X9Y8.H
set_io Tile_X9Y8_I X9Y8.I
set_io Tile_X9Y8_J X9Y8.J
set_io Tile_X9Y8_K X9Y8.K
set_io Tile_X0Y9_A X0Y9.A
set_io Tile_X0Y9_B X0Y9.B
set_io Tile_X9Y9_A X9Y9.A
set_io Tile_X9Y9_B X9Y9.B
set_io Tile_X9Y9_C X9Y9.C
set_io Tile_X9Y9_D X9Y9.D
set_io Tile_X9Y9_E X9Y9.E
set_io Tile_X9Y9_F X9Y9.F
set_io Tile_X9Y9_G X9Y9.G
set_io Tile_X9Y9_H X9Y9.H
set_io Tile_X9Y9_I X9Y9.I
set_io Tile_X9Y9_J X9Y9.J
set_io Tile_X9Y9_K X9Y9.K
set_io Tile_X0Y10_A X0Y10.A
set_io Tile_X0Y10_B X0Y10.B
set_io Tile_X9Y10_A X9Y10.A
set_io Tile_X9Y10_B X9Y10.B
set_io Tile_X9Y10_C X9Y10.C
set_io Tile_X9Y10_D X9Y10.D
set_io Tile_X9Y10_E X9Y10.E
set_io Tile_X9Y10_F X9Y10.F
set_io Tile_X9Y10_G X9Y10.G
set_io Tile_X9Y10_H X9Y10.H
set_io Tile_X9Y10_I X9Y10.I
set_io Tile_X9Y10_J X9Y10.J
set_io Tile_X9Y10_K X9Y10.K
set_io Tile_X0Y11_A X0Y11.A
set_io Tile_X0Y11_B X0Y11.B
set_io Tile_X9Y11_A X9Y11.A
set_io Tile_X9Y11_B X9Y11.B
set_io Tile_X9Y11_C X9Y11.C
set_io Tile_X9Y11_D X9Y11.D
set_io Tile_X9Y11_E X9Y11.E
set_io Tile_X9Y11_F X9Y11.F
set_io Tile_X9Y11_G X9Y11.G
set_io Tile_X9Y11_H X9Y11.H
set_io Tile_X9Y11_I X9Y11.I
set_io Tile_X9Y11_J X9Y11.J
set_io Tile_X9Y11_K X9Y11.K
set_io Tile_X0Y12_A X0Y12.A
set_io Tile_X0Y12_B X0Y12.B
set_io Tile_X9Y12_A X9Y12.A
set_io Tile_X9Y12_B X9Y12.B
set_io Tile_X9Y12_C X9Y12.C
set_io Tile_X9Y12_D X9Y12.D
set_io Tile_X9Y12_E X9Y12.E
set_io Tile_X9Y12_F X9Y12.F
set_io Tile_X9Y12_G X9Y12.G
set_io Tile_X9Y12_H X9Y12.H
set_io Tile_X9Y12_I X9Y12.I
set_io Tile_X9Y12_J X9Y12.J
set_io Tile_X9Y12_K X9Y12.K
